/* Propriétés de la 4eme page de restaurant Mobile */

.body {
    margin: 30px;
    overflow-y: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  @media screen and (min-width: 375px) and (max-width: 768px) {
    /* Encadré du headerlogo */
  
    .box-header-shadow {
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      height: 63px;
    }
  
    /* Titre logo + Go Back */
  
    .titre-logo {
      font-family: Shrikhand;
      font-style: italic;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      display: flex;
      justify-content: center;
      margin-top: -26px;
    }
  
    .goback {
      margin-top: 18px;
      margin-left: 14px;
    }
  
    /* Bannière du restaurant */
  
    .banniere-restaurant img {
      position: relative;
      height: 275px;
      width: 100%;
      left: 0px;
      top: 0px;
    }
  
    /* Page de restaurant */
  
    .menus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0px;
      margin-right: 0px;
      padding: 5%;
      border-radius: 35px;
      width: auto;
      position: relative;
      top: -50px;
      overflow: hidden;
      background: #f7f7f7;
    }
  
    .en-tete-carte {
      width: 100%;
      height: 27px;
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: 400;
      font-size: 28px;
      line-height: 41px;
      margin-top: 20px;
      color: #101010;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    /* Coeur bouton j'aime */
  
    .fa-heart::before {
      content: "\f004";
    }
  
    .like-icon-on {
      position: absolute;
      top: 33px;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0px rgb(255, 255, 255);
      transform: scale(1, 1.16);
      margin-right: 30px;
      margin-top: 2px;
      font-size: 30px;
    }
  
    .like-icon-off {
      background: linear-gradient(193.33deg, #ffffff -11.44%, #ffffff 123.93%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      transform: scale(1, 1.16);
      opacity: 1;
      transition: opacity 0.3s;
      margin-right: 30px;
      margin-top: 0px;
      font-size: 30px;
    }
  
    .like-icon-off:hover {
      opacity: 0;
    }
  
    /* Titres de la carte "entrées" */
  
    h3 {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 50px;
      margin-left: 10px;
    }
  
    .small-line {
      height: 0px;
      width: 40px;
      margin-left: 10px;
      margin-top: -10px;
      border: 3px solid #99e2d0;
    }
  
    /* Apparition des menus 3s */
  
    .entrees {
      opacity: 0;
      animation: menu-fade-in 4s forwards;
    }
  
    .plats {
      opacity: 0;
      animation: menu-fade-in 6s forwards;
    }
  
    .desserts {
      opacity: 0;
      animation: menu-fade-in 8s forwards;
    }
  
    @keyframes menu-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    /* La carte */
  
    .cartes {
      width: 100%;
      height: 69px;
      background: #ffffff;
      box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
      border-radius: 15.0431px;
    }
  
    .texte {
      width: 100%;
      height: 21px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin: 30px 20px 60px 25px;
    }
  
    .sous-texte {
      width: 100%;
      height: 19px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 15.0431px;
      line-height: 18px;
      color: #000000;
      margin-top: 10px;
    }
  
    .prix {
      display: flex;
      justify-content: end;
      margin-top: -20px;
      height: 18px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 15.0431px;
      line-height: 18px;
      color: #353535;
    }
  
     /* Slider Checkbox */
  
     .texte:hover {
      width: 60%;
    }
  
    .sous-texte:hover {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  
    .slider {
      position: absolute;
      right: 0;
      margin-top: -50px;
      width: 59px;
      height: 69px;
      background: #99e2d0;
      border-radius: 0px 15px 15px 0px;
      transition: transform 400ms ease-in-out;
      opacity: 0;
    }
  
    .slider:hover {
      transform: translate(-50px);
      opacity: 1;
    }
  
    .checkbox {
      margin: 25px 0px 0px 23px;
      width: 20px;
      height: 20px;
      color: #ffffff;
      filter: invert(10%);
    }
  
    /* Bouton */
  
    .bouton-exploration {
      height: 50px;
      width: 218px;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      justify-content: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;
      transition: background-color 0.3s, box-shadow 0.3s;
    }
  
    .bouton-exploration:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
      border-radius: 25px;
    }
  
    .bouton-position {
      display: flex;
      justify-content: center;
      margin-top: 100px;
    }
  
    /* Footer */
  
    footer {
      width: 100%;
      height: 230px;
      margin-top: 50px;
      background-color: #353535;
      margin-top: 90px;
    }
  
    .footer-logo {
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-top: 20px;
    }
  
    .footer-logo img {
      height: 27px;
      width: 137px;
      filter: invert(100%);
      margin: 25px;
    }
  
    .footer-texte {
      text-decoration: none;
      width: 168px;
      height: 19px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
    }
  
    ul {
      list-style-type: none;
      padding: 0px 0px 0px 20px;
      margin-top: 0px;
      width: 100%;
    }
  
    li {
      width: 100%;
      margin: 10px;
    }
  
    .footer-texte {
      width: 100%;
      display: flex;
    }
  
    .icons {
      margin-right: 20px;
    }
  }
  
  /* Propriétés de la 4eme page de restaurant Desktop et Tablettes */
  
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    /* Encadré du headerlogo + Go Back */
  
    .box-header-shadow {
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      height: 63px;
    }
  
    /* Titre logo + Go back */
  
    .titre-logo {
      font-family: Shrikhand;
      font-style: italic;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      display: flex;
      justify-content: center;
      margin-top: -26px;
    }
  
    .goback {
      margin-top: 18px;
      margin-left: 14px;
    }
  
    /* Bannière du restaurant */
  
    .banniere-restaurant img {
      position: relative;
      height: 390px;
      width: 100%;
      left: 0px;
      top: 0px;
      object-fit: cover;
    }
  
    /* Page de restaurant */
  
    .menus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 100px;
      margin-right: 100px;
      padding: 5%;
      border-radius: 35px;
      width: auto;
      position: relative;
      top: -50px;
      overflow: hidden;
      background: #f7f7f7;
    }
  
    .en-tete-carte {
      width: 100%;
      height: 27px;
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: 400;
      font-size: 28px;
      line-height: 41px;
      color: #101010;
      margin: 10px 20px 20px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    /* Coeur bouton j'aime */
  
    .fa-heart::before {
      content: "\f004";
    }
  
    .like-icon-on {
      position: absolute;
      top: 65px;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0px rgb(255, 255, 255);
      transform: scale(1, 1.16);
      margin-left: 30px;
      margin-top: 2px;
      font-size: 30px;
    }
  
    .like-icon-off {
      background: linear-gradient(193.33deg, #ffffff -11.44%, #ffffff 123.93%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      transform: scale(1, 1.16);
      opacity: 1;
      transition: opacity 0.3s;
      margin-left: 30px;
      margin-top: 0px;
      font-size: 30px;
    }
  
    .like-icon-off:hover {
      opacity: 0;
    }
  
    /* Titres de la carte "entrées" */
  
    h3 {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 10px;
      margin-left: 10px;
    }
  
    .small-line {
      height: 0px;
      width: 40px;
      margin-left: 10px;
      margin-top: -10px;
      border: 3px solid #99e2d0;
    }
  
    /* Apparition des menus 3s */
  
    .entrees {
      opacity: 0;
      animation: menu-fade-in 4s forwards;
    }
  
    .plats {
      opacity: 0;
      animation: menu-fade-in 6s forwards;
    }
  
    .desserts {
      opacity: 0;
      animation: menu-fade-in 8s forwards;
    }
  
    @keyframes menu-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    /* La Carte */
  
    .cartes {
      display: block;
      width: 100%;
      height: 69px;
      background: #ffffff;
      box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
      border-radius: 15.0431px;
    }
  
    .texte {
      width: 100%;
      height: 21px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin: 30px 20px 60px 25px;
    }
  
    .sous-texte {
      width: 100%;
      height: 19px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 15.0431px;
      line-height: 18px;
      color: #000000;
      margin-top: 10px;
    }
  
    .prix {
      display: flex;
      margin-right: 35px;
      margin-top: 10px;
      height: 18px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 15.0431px;
      line-height: 18px;
      color: #353535;
    }
  
    .test {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
    }
  
    /* Slider Checkbox */
  
    .texte:hover{
      width: 95%;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition-delay: 80ms;
    }
  
    .slider {
      position: absolute;
      right: 0;
      margin-top: -53px;
      width: 59px;
      height: 69px;
      background: #99e2d0;
      border-radius: 0px 15px 15px 0px;
      transition: transform 400ms ease-in-out;
      opacity: 0;
    }
  
    .slider:hover {
      transform: translateX(-50px);
      opacity: 1;
      transition-delay: 66ms;
    }
  
    .checkbox {
      margin: 25px 0px 0px 23px;
      width: 20px;
      height: 20px;
      color: #ffffff;
      filter: invert(10%);
    }
  
    /* Bouton */
  
    .bouton-exploration {
      height: 50px;
      width: 218px;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      justify-content: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;
      transition: background-color 0.3s, box-shadow 0.3s;
    }
  
    .bouton-exploration:hover {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
      border-radius: 25px;
    }
  
    .bouton-position {
      display: flex;
      justify-content: center;
      margin-top: 70px;
    }
  
    /* Footer */
  
    footer {
      width: 100%;
      height: 150px;
      margin-top: 10px;
      background-color: #353535;
      display: flex;
      flex-direction: row-reverse;
      margin-top: 45px;
    }
  
    .footer-logo {
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-top: 60px;
    }
  
    .footer-logo img {
      height: 27px;
      width: 137px;
      filter: invert(100%);
      padding: 20px;
    }
  
    .footer-texte {
      text-decoration: none;
      width: 50%;
      height: 19px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      color: #fff;
      margin-top: 75px;
    }
  
    .liens-footer {
      display: flex;
    }
  
    .liens-footer li {
      padding: 10px 10px 10px 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0px 0px 0px 20px;
      margin-top: 0px;
    }
  
    .icons {
      margin-right: 20px;
    }
  }
  