/* Propriétés de la 1ere page de restaurant Mobile */

  .body {
    margin: 30px;
    overflow-y: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

@media screen and (min-width: 375px) and (max-width: 768px) {
  .body {
    margin: 30px;
    overflow-y: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  /* Encadré du headerlogo + Go Back */

  .box-header-shadow {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 63px;
  }

  .titre-logo {
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    margin-top: -26px;
  }

  .goback {
    margin-top: 18px;
    margin-left: 14px;
  }

  /* Image général */

  .image-general img {
    position: relative;
    height: 275px;
    width: 100%;
    left: 0px;
    top: 0px;
  }

  /* Page de restaurant */

  .page-de-restaurant {
    position: absolute;
    z-index: 1;
    border-radius: 50px 50px 0px 0px;
    background-color: #f7f7f7;
    width: 100%;
    height: 60px;
    top: 290px;
    margin-left: -5px;
  }

  .titre {
    width: 100%;
    height: 27px;
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #101010;
    margin: 30px 0px 0px 20px;
  }

  .like {
    margin-left: 60px;
    margin-top: -30px;
  }

  /* Cartes */

  h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 50px;
    margin-left: 10px;
  }

  .small-line {
    height: 0px;
    width: 40px;
    margin-left: 10px;
    margin-top: -10px;
    border: 3px solid #99e2d0;
  }

  .cartes {
    width: 100%;
    height: 69px;
    background: #ffffff;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
  }
  .texte {
    height: 21px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 30px 20px 60px 25px;
  }

  .sous-texte {
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
    color: #000000;
    margin-top: 10px;
  }

  .prix {
    display: flex;
    justify-content: end;
    margin-top: -20px;
    height: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15.0431px;
    line-height: 18px;
    color: #353535;
  }

  /* Bouton */

  .bouton-exploration {
    height: 50px;
    width: 218px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .bouton-position {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  /* Footer */

  footer {
    width: 100%;
    height: 230px;
    margin-top: 50px;
    background-color: #353535;
    margin-top: 90px;
  }

  .footer-logo {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
  }

  .footer-logo img {
    height: 27px;
    width: 137px;
    filter: invert(100%);
    margin: 25px;
  }

  .footer-texte {
    text-decoration: none;
    width: 168px;
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  ul {
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
    width: 100%;
  }

  li {
    width: 100%;
    margin: 10px;
  }

  .footer-texte {
    width: 100%;
    display: flex;
  }

  .icons {
    margin-right: 20px;
  }
}

/* Propriétés de la 1ere page de restaurant Desktop et Tablettes */

@media screen and (min-width: 768px) and (max-width: 1440px) {
   
  /* Encadré du headerlogo + Go Back */

  .box-header-shadow {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 63px;
  }

  .titre-logo {
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    justify-content: center;
    margin-top: -26px;
  }

  .goback {
    margin-top: 18px;
    margin-left: 14px;
  }

  .image-general img {
    position: relative;
    height: 390px;
    width: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }

  /* Page de restaurant */

  .menus {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .page-de-restaurant {
    position: absolute;
    z-index: 1;
    border-radius: 30px 30px 0px 0px;
    background-color: #f7f7f7;
    width: 790px;
    height: 60px;
    top: 440px;
    margin-left: -5px;
    text-align: center;
  }

  .titre {
    width: 100%;
    height: 27px;
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #101010;
    margin: 60px 20px 20px 20px;
  }

  .like {
    margin-left: 60px;
    margin-top: -30px;
  }

  /* Cartes */

  .articles-de-vente {
    margin: 100px 10px 10px 15px;
    align-items: center;
  }

  h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
  }

  .small-line {
    height: 0px;
    width: 40px;
    margin-left: 10px;
    margin-top: -10px;
    border: 3px solid #99e2d0;
  }

  .cartes {
    width: 700px;
    height: 69px;
    background: #ffffff;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
  }

  .texte {
    height: 21px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 30px 20px 60px 25px;
  }

  .sous-texte {
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
    color: #000000;
    margin-top: 10px;
  }

  .prix {
    display: flex;
    justify-content: end;
    margin-top: -20px;
    height: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15.0431px;
    line-height: 18px;
    color: #353535;
  }

  /* Bouton */

  .bouton-exploration {
    height: 50px;
    width: 218px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .bouton-position {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  /* Footer */

  footer {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #353535;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 45px;
  }

  .footer-logo {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 60px;
  }

  .footer-logo img {
    height: 27px;
    width: 137px;
    filter: invert(100%);
    padding: 20px;
  }

  .footer-texte {
    text-decoration: none;
    width: 50%;
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    margin-top: 75px;
  }

  .liens-footer {
    display: flex;
  }

  .liens-footer li {
    padding: 10px 10px 10px 10px;
  }

  ul {
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
  }

  .icons {
    margin-right: 20px;
  }
}
