/* Propriétés générales */

.body {
  margin: 0px;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Propriétés de la page d'accueil Mobile */


@media all and (max-width: 768px) {
  
  /* Loader */

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    z-index: 9999;
    animation: loader-fade 3s forwards;
    pointer-events: none;
  }

  .loader-logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(66%);
  }


  .loader:before,
  .loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    border: 4px solid greenyellow;
    border-top-color:  brown;
    animation: loader-rotation 6.5s linear infinite;
  }

  @keyframes loader-rotation {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-fade {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  /* Encadré du headerlogo */

  .box-header-shadow {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 63px;
  }

  /* Titre logo */

  .titre-logo {
    font-family: Shrikhand, cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
  }

  /* Barre de location */

  .location {
    height: 50px;
    background: #eaeaea;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #353535;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 15px;
  }

  .fa-solid {
    width: 12px;
    height: 16px;
    margin-bottom: 5px;
    margin-right: 20px;
  }

  /* Titre premier */

  .titre-premier {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin-top: 100px;
  }

  /* Titre second */

  .titre-second {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #353535;
  }

  /* Bouton principal */

  .bouton-exploration {
    height: 50px;
    width: 218px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .bouton-exploration:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
  }
  .bouton-position {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  /* Encadrés de fonctionnement du restaurant */

  .fonctionnement {
    width: 90%;
    height: 360px;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
  }

  .titre-troisieme {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 20px 0px;
  }

  .encadre-fonctionnement {
    width: 100%;
    height: 72px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
  }

  .choix {
    width: 211px;
    height: 15.67px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .icon {
    color: grey;
    margin-right: 12px;
  }

  .circle {
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    position: absolute;
    width: 24px;
    height: 24px;
    background: #9356dc;
    margin-right: 280px;
  }

  /* Les cartes restaurants */

  .cartes-restaurants {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 30px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
  }

  .cartes-menus {
    position: relative;
    width: 100%;
    height: 310px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: 2px;
  }

  .image-restaurant {
    width: 100%;
    height: 230px;
    position: relative;
    object-fit: fill;
  }

  .image-restaurant img {
    width: 100%;
    height: 230px;
    border-radius: 15px 15px 0px 0px;
    background-size: contain;
  }

  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 25px;
    padding: 5px;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #008766;
  }

  .restaurant-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .restaurant-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 10px;
    margin-left: 10px;
    margin-top: 5px;
    color: #000000;
  }

  /* Coeur bouton j'aime */

 
  .fa-heart::before {
    content: "\f004";
  }

  .like-icon-on {
    position: absolute;
    top: 242px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px rgb(255, 255, 255);
    transform: scale(1, 1.16);
    margin: 10px 20px 0px 0px;
  }

  .like-icon-off {
    background: linear-gradient(193.33deg, #ffffff -11.44%, #ffffff 123.93%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    transform: scale(1, 1.16);
    opacity: 1;
    transition: opacity 0.3s;
    margin: 10px 20px 0px 0px;
  }

  .like-icon-off:hover {
    opacity: 0;
  }

  /* Footer */

  footer {
    width: 100%;
    height: 230px;
    margin-top: 10px;
    background-color: #353535;
  }

  .footer-logo {
    font-family: "Shrikhand", cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
  }

  .footer-logo img {
    height: 27px;
    width: 137px;
    filter: invert(100%);
    padding: 20px;
  }

  .footer-texte {
    text-decoration: none;
    width: 100%;
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    display: flex;
  }

  ul {
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
    width: 100%;
  }

  li {
    width: 90%;
    margin: 10px;
  }

  .icons {
    margin-right: 20px;
  }
}





/* Propriété de la page d'accueil Desktop */

@media only screen and (min-width: 768px){
  
  /* Loader */

 .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    z-index: 9999;
    animation: loader-fade 3s forwards;
    pointer-events: none;
  }

  .loader-logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(66%);
  }


  .loader:before,
  .loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    border: 4px solid greenyellow;
    border-top-color:  brown;
    animation: loader-rotation 6.5s linear infinite;
  }

  @keyframes loader-rotation {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-fade {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  /* Titre logo */

  .titre-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  /* Encadré du headerlogo */

  .box-header-shadow {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 60px;
  }

  .location {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 25px;
    background: #eaeaea;
  }

  .location-next {
    margin: 5px;
    line-height: 20px;
  }

  .fa-solid {
    width: 12px;
    height: 16px;
    margin-bottom: 5px;
    margin-right: 20px;
  }

  .titre-premier {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .titre-second {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .bouton-exploration {
    height: 50px;
    width: 218px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .bouton-exploration:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
  }
  .bouton-position {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  /* Fonctionnement */

  .fonctionnement {
    display: flex;
    flex-direction: column;
    height: 230px;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
  }

  .titre-troisieme {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0px 40px;
  }

  .flexi-fonctionnement {
    display: flex;
    justify-content: start;
  }

  .encadre-fonctionnement {
    width: 345px;
    height: 72px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px 15px;
  }

  .choix {
    width: 211px;
    height: 15.67px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px -20px 0px 0px;
    color: #000000;
  }

  .icon {
    color: grey;
    margin-right: 10px;
  }

  .circle {
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    position: absolute;
    width: 24px;
    height: 24px;
    background: #9356dc;
    margin-right: 235px;
  }

  /* Cartes des restaurants */


  .titre-quatrieme {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 40px;
  }

  .cartes-restaurants {
    margin: 0px 0px 50px 0px;
    padding: 20px 0px 20px 20px;
  }


  .cartes-menus {
    position: relative;
    width: 100%;
    height: 310px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 40px 40px 40px 40px;
  }

  .image-restaurant {
    width: 100%;
    height: 230px;
    position: relative;
    object-fit: fill;
  }

  .image-restaurant img {
    width: 100%;
    height: 230px;
    border-radius: 15px 15px 0px 0px;
    object-fit: fill;
  }

  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 19px;
    padding: 5px;
    background: #99e2d0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #008766;
  }

  .restaurant-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .restaurant-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 8px;
    margin-left: 10px;
    margin-top: 10px;
    color: #000000;
  }

  .flexi-cartes-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flexi-cartes-2 {
    display: flex;
    flex-direction: row;
  }

  /* Coeur bouton j'aime */

  .fa-heart::before {
    content: "\f004";
  }

  .like-icon-on {
    position: absolute;
    top: 245px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px rgb(255, 255, 255);
    transform: scale(1, 1.16);
    margin-right: 30px;
    margin-top: 7px;
    font-size: 30px;
  }

  .like-icon-off {
    background: linear-gradient(193.33deg, #ffffff -11.44%, #ffffff 123.93%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    transform: scale(1, 1.16);
    opacity: 1;
    transition: opacity 0.3s;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 30px;
  }

  .like-icon-off:hover {
    opacity: 0;
  }

  /* Footer */

  footer {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #353535;
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-logo {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 60px;
  }

  .footer-logo img {
    height: 27px;
    width: 137px;
    filter: invert(100%);
    padding: 20px;
  }

  .footer-texte {
    text-decoration: none;
    width: 50%;
    height: 19px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    margin-top: 80px;
  }

  .liens-footer {
    display: flex;
  }

  .liens-footer li {
    padding: 1px 1px 1px 1px;
    margin: 6px 6px 6px 6px;
  }

  ul {
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
  }

  .icons {
    margin-right: 20px;
  }
}
